<header class="header" id="page-header">
  <div class="flex-container container">
    <nav class="nav">
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="./index.html">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Favorite </a>
        </li>
      </ul>
      <div class="title">
        <a class="header-logo-link list" href="./index.html">
          DRINKIFY
          <svg class="logo-icon" width="21" height="21" aria-label="logo-ikons">
            <use href="/img/sprite.svg#icon-cocktail"></use>
          </svg>
        </a>
      </div>
    </nav>
    <div class="switch">
      <input type="checkbox" />
    </div>

    <!-- бургер -->
    <button
      type="button"
      class="mobile-menu-open js-open-menu"
      aria-expanded="false"
    >
      <svg
        class="mobile-menu-open-icon"
        width="32"
        height="32"
        aria-label="menu"
      >
        <use href="/img/sprite.svg#icon-paragraph-justify"></use>
      </svg>
    </button>
  </div>
  <!-- mob menu -->
  <div class="mobile-menu js-menu-container js-menu-container">
    <div class="container mobail-menu-container">
      <button class="mobile-close-btn js-close-menu">
        <svg class="mobile-menu-close-icon" width="32" height="32">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>

      <div class="mobile-title">
        <a class="menu-logo-link list" href="./index.html">
          DRINKIFY
          <svg
            class="menu-logo-icon"
            width="19.58"
            height="18"
            aria-label="logo-ikons"
          >
            <use href="/img/sprite.svg#icon-cocktail"></use>
          </svg>
        </a>
      </div>

      <div class="mobile-switch">
        <input class="mobile-imput" type="checkbox" />
      </div>

      <ul class="mobile-list">
        <li class="mobile-item">
          <a class="mobile-menu-link" href="./index.html">Home</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-menu-link" href=" ">Favorite</a>
        </li>
      </ul>
    </div>
  </div>
</header>
