<div class="mobile-menu js-menu-container">
  <div class="mobile-menu-container">
    <button type="button" class="menu-close js-close-menu">
      <svg class="menu-close-icon" aria-label="menu close button">
        <use href=""></use>
      </svg>
    </button>

    <ul class="mobile-nav list">
      <li class="mobile-navi">
        <a class="mobile-navi-link link" href="/src/index.html">Home</a>
      </li>
      <li class="mobile-navi">
        <a class="mobile-navi-link link" href="">Favorite</a>
      </li>
    </ul>
  </div>
</div>
