<div class="backdrop is-hidden" data-first-modal>
  <div class="pop_up_modal_window">
    <button
      class="pop_up_modal_close_btn"
      type="button"
      aria-label="close menu review"
      data-first-modal-close
    >
      <svg class="pop_up_modal_close_icon" width="24" height="24">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- <ul class="pop_up_pic_and_ingredients_list">
      <li class="pop_up_pic_and_ingredients_list_first_item">
        <img
          class="pop_up_pic"
          src="./images/ACID.jpg"
          alt="cocktail-picture"
        />
      </li>
      <div class="additional_flex_container">
        <li class="pop_up_pic_and_ingredients_list_second_item">
          <h3 class="pop_up_drink_title">Acid</h3>
        </li>
        <li class="pop_up_pic_and_ingredients_list_third_item">
          <ul class="pop_up_ingredients_list">
            <li class="pop_up_ingredients_list_first_item">
              <ul>
                <li>
                  <h3 class="pop_up_ingredients_list_title">INGREDIENTS:</h3>
                </li>
                <li>
                  <p class="pop_up_ingredients_list_desc">Per cocktail</p>
                </li>
              </ul>
            </li>
            <li class="pop_up_ingredients_list_second_item">
              <ul class="ingrtedients_list">
                <li><a class="ingredients_link" href="">Ice</a></li>
                <li><a class="ingredients_link" href="">1 ounce gin</a></li>
                <li>
                  <a class="ingredients_link" href="">1 ounce Campari</a>
                </li>
                <li>
                  <a class="ingredients_link" href="">1 ounce sweet vermouth</a>
                </li>
                <li>
                  <a class="ingredients_link" href="">Garnish: orange peel</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </div>
    </ul>

    <ul class="pop_up_desc">
      <li><h3 class="pop_up_desc_title">INSTRUCTIONS:</h3></li>
      <li>
        <p class="pop_up_desc_text">
          Add the gin, Campari and sweet vermouth to a mixing glass filled with
          ice, and stir until well-chilled. Strain into a rocks glass filled
          with large ice cubes. Garnish with an orange peel.
        </p>
      </li>
    </ul> -->

    <ul class="pop_up_buttons_list">
      <li>
        <button type="button" class="pop_up_functional_button">
          ADD TO FAVORITE
        </button>
      </li>
      <li>
        <button
          data-first-modal-close
          type="button"
          class="pop_up_close_button"
        >
          BACK
        </button>
      </li>
    </ul>
  </div>
</div>
