<section class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="logo">Drinkify</div>
      <div class="social-link">We in social
      <ul>
        <li class="link">
          <svg class="social-list-icon" width="32" height="32">
            <use href="/img/icon/icons.svg#icon-coin-d-t-32"></use>
          </svg>
        </li>
        <li class="link">
          <svg class="social-list-icon" width="32" height="32">
            <use href="/img/icon/icons.svg#icon-coin-d-t-32"></use>
          </svg>
        </li>
        <li class="link">
          <svg class="social-list-icon" width="32" height="32">
            <use href="/img/icon/icons.svg#icon-coin-d-t-32"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
