<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="logo-icon">
        <div class="logo">Drinkify</div>
        <svg class="cocktail-icon" width="21" height="18">
          <use
            href="./partials/footer/images/symbol-defs.svg#icon-cocktail-1"
          ></use>
        </svg>
      </div>
      <div class="social">
        <div class="social-link">We in social</div>
        <div class="social-title">
          <ul class="social-list list">
            <li class="social-list-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="social-list-link"
              >
                <svg class="social-list-icon">
                  <use
                    href="./partials/footer/images/symbol-defs.svg#icon-u_facebook-f"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="social-list-link"
              >
                <svg class="social-list-icon">
                  <use
                    href="./partials/footer/images/symbol-defs.svg#icon-u_instagram-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a href="https://www.youtube.com/c/GoIT" class="social-list-link">
                <svg class="social-list-icon">
                  <use
                    href="./partials/footer/images/symbol-defs.svg#icon-u_instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
