<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite ingredients</title>
    <link rel="stylesheet" href="../favorite/my-ingredients.html" />
  </head>
  <body>
    <style>
      .ingradient-modal {
        visibility: hidden;
      }
      .ingradient-modal.open {
        visibility: visible;
      }
    </style>
    <section class="favorite-ingadients-section">
      <ul class="favorite-ingradients-list">
        <li class="ingadient-item">
          <h2 class="ingradient-name">Campari</h2>
          <button type="button" data-name="Campari">Read more</button>
        </li>
        <li class="ingadient-item">
          <h2 class="ingradient-name">Gin</h2>
          <button type="button" data-name="Gin">Read more</button>
        </li>
      </ul>
    </section>
    <script type="module" src="../../js/favorite/my-ingredients.js"></script>
    <div class="ingradient-modal"></div>
  </body>
</html>
