.modal {
  width: 600px;
  height: 569px;
  background-color: #f8f9ff;
  display: none;
  position: relative;
  z-index: 100;
}

.backdrop {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 15, 15, 0.6);
  display: none;
}

.js_open {
  display: block;
}

.js_open_backdrop {
  display: flex;
}

.backdrop_open {
  display: block;
  height: 100wh;
  overflow: hidden;
}
.cross {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: 18px;
}
