.drinkify-cocktails {
  padding-bottom: 80px;
}

.drinkify-cocktails-title {
  color: rgba(36, 36, 36, 1);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 40px;
}

.cocktails-cards {
  margin: 0 auto;
}

.cocktail-card {
  padding: 14px 14px 20px 14px;
  border-radius: 20px;
  background-color: rgba(253, 253, 255, 1);
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}

.cocktail-card-info {
  margin-bottom: 20px;
  pointer-events: none;
}

.cocktail-card-info-thumb {
  max-width: 307px;
  height: 257px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  pointer-events: none;
}

.cocktail-card-info-img {
  width: 100%;
  height: 100%;
  display: block;
}

.cocktail-card-name {
  color: rgba(36, 36, 36, 1);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 14px;
}

.cocktail-card-description {
  height: 54px;
  overflow: hidden;
  color: rgba(36, 36, 36, 1);
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 20px;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
}

.cocktail-card-controls {
  display: flex;
  gap: 15px;
}

.cocktail-card-learn {
  padding: 14px 70px;
  border-radius: 12px;
  border: 1px solid rgba(126, 143, 221, 1);
  color: rgba(36, 36, 36, 1);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background: transparent;
  transition: color 500ms cubic-bezier(0.12, 0.82, 0.48, 0.91),
    background-color 500ms cubic-bezier(0.12, 0.82, 0.48, 0.91);
}

.cocktail-card-learn:hover,
.cocktail-card-learn:focus {
  color: rgba(253, 253, 255, 1);
  background-color: rgba(126, 143, 221, 1);
}

.cocktail-card-button {
  padding: 16px 16px;
  border-radius: 12px;
  border: none;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: rgba(126, 143, 221, 1);
}

.add-button-icon {
  fill: transparent;
  stroke: rgba(253, 253, 255, 1);
}

.not-found-cocktails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.favorite-cocktails-subtitle {
  width: 244px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
}

.favorite-cocktails-subtitle-span {
  color: #9cdfdf;
  font-style: italic;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
}

@media screen and (max-width: 374px) {
  .cocktail-card {
    max-width: 335px;
  }

  .cocktail-card-learn {
    max-width: 100%;
    width: 232px;
    padding: 14px 20px;
  }
}
@media screen and (min-width: 375px) {
  .cocktail-card {
    width: 335px;
  }
}

@media screen and (max-width: 767px) {
  .cocktail-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .drinkify-cocktails {
    padding-bottom: 100px;
  }

  .drinkify-cocktails-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .cocktails-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
    justify-content: center;
    align-items: center;
  }

  .cocktail-card {
    width: 344px;
    padding-bottom: 24px;
  }

  .cocktail-card-info-thumb {
    max-width: 316px;
    height: 289px;
    margin-bottom: 24px;
  }

  .cocktail-card-name {
    font-size: 20px;
    line-height: 1.2;
  }

  .cocktail-card-description {
    margin-bottom: 24px;
  }

  .cocktail-card-learn {
    padding: 16px 55px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.36px;
  }

  .cocktail-card-button {
    width: 56px;
    height: 56px;
  }

  .not-found-cocktails-container {
    width: 370px;
    gap: 40px;
  }

  .not-found-img {
    width: 234px;
    height: 201px;
  }

  .favorite-cocktails-subtitle {
    font-size: 24px;
    line-height: 1.17;
  }

  .favorite-cocktails-subtitle-span {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1280px) {
  .drinkify-cocktails-title {
    margin-bottom: 44px;
  }
}
