@import url('../reset.css');
@import url('../common.css');
@import url('../header/header.css');
@import url('../footer/footer.css');
@import url('../scroll-anime/scrollanime.css');
@import url('../pagination/pagination.css');
@import url('../darktheme.css');
@import url('../pop_up/pop_up.css');

.favorite-cocktails {
  padding-bottom: 80px;
}

.favorite-cocktails-title {
  font-style: normal;
  font-weight: 500;
}

.not-found-cocktails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 140px; */
}

.favorite-cocktails-subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.favorite-cocktails-subtitle-span {
  color: #9cdfdf;
  font-style: italic;
  font-weight: 400;
}

.fav-cocktails-list {
  margin: 0 auto;
}

.fav-cocktail-card {
  padding: 14px 14px 20px 14px;
  border-radius: 20px;
  background-color: rgba(253, 253, 255, 1);
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}

.fav-cocktail-card-container {
  max-width: 307px;
  height: 257px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
}

.fav-cocktail-img {
  width: 100%;
  height: 100%;
  display: block;
}

.fav-cocktail-titile {
  color: rgba(36, 36, 36, 1);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 14px;
}

.fav-cocktail-description {
  height: 54px;
  overflow: hidden;
  color: rgba(36, 36, 36, 1);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.fav-cocktails-btn {
  display: flex;
  gap: 15px;
}

.learn-more-btn {
  padding: 14px 70px;
  border-radius: 12px;
  border: 1px solid rgba(126, 143, 221, 1);
  color: rgba(36, 36, 36, 1);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background: transparent;
  transition: color 500ms cubic-bezier(0.12, 0.82, 0.48, 0.91),
    background-color 500ms cubic-bezier(0.12, 0.82, 0.48, 0.91);
}

.learn-more-btn:hover,
.learn-more-btn:focus {
  color: rgba(253, 253, 255, 1);
  background-color: rgba(126, 143, 221, 1);
}

.delete-btn {
  padding: 16px 16px;
  border-radius: 12px;
  border: none;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: rgba(126, 143, 221, 1);
}

.delete-btn-icon {
  pointer-events: none;
}

/* <------Phone-----> */

@media screen and (max-width: 767px) {
  .favorite-cocktails-container {
    padding-top: 80px;
  }

  .favorite-cocktails-title {
    font-size: 24px;
    line-height: 1.2;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .not-found-cocktails-container {
    width: 244px;
    gap: 20px;
  }

  .not-found-img {
    width: 142px;
    height: 122px;
  }

  .favorite-cocktails-subtitle {
    font-size: 18px;
    line-height: 1.33;
  }

  .favorite-cocktails-subtitle-span {
    font-size: 18px;
    line-height: 1.33;
  }

  .fav-cocktails-list {
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 40px;
    display: flex;
  }

  .fav-cocktail-card {
    width: 335px;
  }
}

/* <----------Tablet-----------> */

@media screen and (min-width: 768px) {
  .favorite-cocktails {
    padding-bottom: 100px;
  }

  .favorite-cocktails-container {
    padding-top: 110px;
  }

  .favorite-cocktails-title {
    font-size: 40px;
    line-height: 1.2;
    margin-left: 32px;
    margin-bottom: 100px;
  }

  .not-found-cocktails-container {
    width: 372px;
    gap: 40px;
  }

  .not-found-img {
    width: 234px;
    height: 201px;
  }

  .favorite-cocktails-subtitle {
    font-size: 24px;
    line-height: 1.17;
  }

  .favorite-cocktails-subtitle-span {
    font-size: 24px;
    line-height: 1.17;
  }

  .fav-cocktails-list {
    flex-flow: wrap;
    align-items: center;
    gap: 32px 16px;
    display: flex;
  }

  .fav-cocktail-card {
    width: 344px;
    padding-bottom: 24px;
  }
  .fav-cocktail-card-container {
    max-width: 316px;
    height: 289px;
    margin-bottom: 24px;
  }

  .fav-cocktail-titile {
    font-size: 20px;
    line-height: 1.2;
  }

  .fav-cocktail-description {
    margin-bottom: 24px;
  }

  .learn-more-btn {
    padding: 16px 55px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.36px;
  }

  .delete-btn {
    width: 56px;
    height: 56px;
  }
}

/* <--------Desktop------> */

@media screen and (min-width: 1200px) {
  .favorite-cocktails-container {
    padding-top: 106px;
  }
  .favorite-cocktails-title {
    margin-left: 100px;
  }
}
