<div class="backdrop is-hidden">
  <div class="modal-ingredients-group">
    <div class="modal-ingredients" id="modal-ingredients">
      <button class="modal-ingredients-close" aria-label="to close menu">
        <svg class="modal-ingredients-close-icon" width="6px" height="6px">
          <use href="./img/sprite#icon-x"></use>
        </svg>
      </button>
    </div>
    <button
      type="button"
      class="btn btn-add-to-fav modal-btn-add-to-fav"
      id="modal-btn-add-to-fav"
      aria-label="Add to favorite"
    >
      Add to favorite
    </button>
    <button
      type="button"
      class="btn btn-remove-fav modal-btn-remove-fav"
      id="modal-btn-remove-fav"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button>
  </div>
</div>
