@import url('../reset.css');
@import url('../header/header.css');
@import url('../footer/footer.css');
@import url('../common.css');
@import url('../scroll-anime/scrollanime.css');
@import url('../darktheme.css');
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
}
a {
  text-decoration: none;
}

.contact_content h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}
/* Стили для блока .emp_details */
.emp_details {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
  width: 100%;
}
/* Стили для блока .employee */
.employee {
  background-color: #7e8fdd;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}
.employee h3 {
  color: #fdfdff;
}
.employee p {
  color: #fdfdff;
}
.employee img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.h2_header {
  margin-bottom: 40px;
}

.emp {
  display: block;
  margin-bottom: 20px;
}
/* map styles */
#map {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 4px solid #7e8fdd;
  border-radius: 20px;
}
.phone-numbers {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  display: flex;
  list-style: none;
  margin-bottom: 20px;


}
.contacts .h2_header {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.our_staff {
  margin-bottom: 40px;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 48px;
  padding: 14px 28px;
  font-size: 18px;
  background-color: #7e8fdd;
  border: none;
  border-radius: 12px;
  gap: 10px;
  color: #fdfdff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.btn_num {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
.our-staff {
  padding-top: 80px;
}

.contact_page {
  padding: 0 20px;
  margin: 0 auto;
}

.emp_details {
  flex-flow: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 40px;
    display: flex;
}

}

@media screen and (min-width: 768px) {
  .our-staff {
  padding-bottom: 80px;
  }
  .emp_details {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
    justify-content: center;
    align-items: center;
}

  .contact_page .h2_header {
    text-align: center;
    font-size: 40px;
   margin-top: 40px;
    margin-bottom: 40px;

  }
  .contacts .h2_header {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
   
  }
  .employee {
    width: 341px;
    background-color: #7e8fdd;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  .employee p {
    color: #fdfdff;
    font-size: 20px;
  }
  .employee h3 {
    color: #fdfdff;
    font-size: 24px;
  }

  .phone-numbers {
    margin-bottom: 40px;
  }

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 68px;
    padding: 14px 28px;
    font-size: 24px;
    background-color: #7e8fdd;
    border: none;
    border-radius: 12px;
    gap: 10px;
    color: #fdfdff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }
  .btn_num {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
.emp_details {
  flex-flow: wrap;
  align-items: center;
  gap: 32px 50px;
}

  .contact_page .h2_header {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
    

  }

  .contacts .h2_header {
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
   
  }
  .employee {
    width: 385.8px;
    background-color: #7e8fdd;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  .employee p {
    color: #fdfdff;
    font-size: 20px;
  }

  .employee h3 {
    color: #fdfdff;
    font-size: 24px;
  }

  .phone-numbers {
     margin-bottom: 60px;
   }

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 112x;
    padding: 14px 28px;
    font-size: 28px;
    background-color: #7e8fdd;
    border: none;
    border-radius: 12px;
    gap: 10px;
    color: #fdfdff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }

  .btn_num {
    font-size: 24px;
  }
}

