.footer .container {
  background: #7e8fdd;
  width: auto;
}
.logo {
  color: #fdfdff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  line-height: 1.125; /* 109.091% */
  letter-spacing: -0.22px;
  text-transform: uppercase;
  height: 18px;
  width: 71px;
  gap: 4px;
  /* margin-right: 8px; */
}
.logo-icon {
  /* display: flex;
  align-items: baseline;
  justify-content: flex-start; */
}
.social-link {
  color: #fdfdff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28; /* 15.4px */
  text-transform: uppercase;
}
.social-list {
  display: flex;
  padding-bottom: 80px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-list-icon {
  color: #fdfdff;
  height: 32px;
  width: 32px;
}
.social-title {
  display: flex;
  flex-direction: row;
}
.social-list-link {
  color: #fdfdff;
}
.cocktail-icon {
  fill: #9cdfdf;
}
.logo-icon {
  display: flex;
}

/* +++++++++++++++++++++++++MOBILE++++++++++++++++++++ */
@media screen and (min-width: 375px) {
  .footer-container {
    padding-top: 40px;
  }
  .social-list {
    margin-top: 16px;
    gap: 14px;
  }
}
/* +++++++++++++++++++++++++/MOBILE++++++++++++++++++++ */

/* +++++++++++++++++++++++++TABLET++++++++++++++++++++ */
@media screen and (min-width: 768px) {
  .footer-container {
    /* padding-left: 12px;
    padding-right: 70px; */
    padding-top: 32px;
  }
  .logo {
    font-size: 22px;
    line-height: 1.09; /* 109.091% */
    letter-spacing: -0.22px;
    text-transform: uppercase;
    height: 24px;
    width: 97px;
    margin-right: 8px;
  }
  .social-link {
    line-height: 1.1; /* 15.4px */
    height: 15px;
    width: 94px;
  }
  .social-list {
    gap: 16px;
  }
  .social-list-icon {
    height: 40px;
    width: 40px;
  }
  .cocktail-icon {
    height: 25px;
    width: 29px;
  }
}

/* +++++++++++++++++++++++++/TABLET++++++++++++++++++++ */

/* +++++++++++++++++++++++++DESKTOP++++++++++++++++++++ */
@media screen and (min-width: 1200px) {
  .footer-container {
    /* padding-left: 80px;
    padding-right: 138px; */
    padding-top: 40px;
    max-width: 1080px;
    /* height: 191px; */
  }
}
/* +++++++++++++++++++++++++/DESKTOP++++++++++++++++++++ */
