:root {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white-color: rgb(255, 255, 255);
  --violet-color: rgba(126, 143, 221, 1);
  --active-color: rgba(156, 223, 223, 1);
  --title-color: rgba(36, 36, 36, 1);
  --cart-color: rgba(253, 253, 255, 1);
  --hell-color: rgb(248, 249, 255);
  --second-dark-color: rgba(26, 26, 26, 1);
  --black-color: rgb(0, 0, 0);
  --button-color: rgba(126, 143, 221, 0.4);
  --button-dark: rgba(253, 253, 255, 0.1);
  --button-dark-hover: rgba(36, 36, 36, 0.2);
}

body {
  background: url(../img/cocktails/background.png) 0px 0px / 100% 100%,
    lightgray 100% 100% / cover no-repeat;
}

.container {
  padding: 0 32px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 100px;
  }

  body {
    background: url(../img/cocktails/background_desktop.png) 0px 0px / 100% 100%
        no-repeat,
      lightgray 0px 0px / 100% 100% no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
