:root {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white-color: rgb(255, 255, 255);
  --violet-color: rgba(126, 143, 221, 1);
  --active-color: rgba(156, 223, 223, 1);
  --title-color: rgba(36, 36, 36, 1);
  --cart-color: rgba(253, 253, 255, 1);
  --hell-color: rgb(248, 249, 255);
  --second-dark-color: rgba(26, 26, 26, 1);
  --black-color: rgb(0, 0, 0);
  --button-color: rgba(126, 143, 221, 0.4);
  --button-dark: rgba(253, 253, 255, 0.1);
  --button-dark-hover: rgba(36, 36, 36, 0.2);
}

html,
body {
  min-height: 100vh;
}

body {
  background: url(../img/background/light-theme/mobile-bg@2x.webp) 0px 0px /
      100% 100%,
    lightgray 100% 100% / cover no-repeat;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }

  body {
    background: url(../img/background/light-theme/tablet-bg@2x.webp) 0px 0px /
        100% 100% no-repeat,
      lightgray 0px 0px / 100% 100% no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }

  body {
    background: url(../img/background/light-theme/desktop-bg@2x.webp) 0px 0px /
        100% 100% no-repeat,
      lightgray 0px 0px / 100% 100% no-repeat;
  }
}
