.dark-mode {
  background: url(../img/background/dark-theme/mobile-bg@2x.webp) 0px 0px / 100%
      100%,
    black 100% 100% / cover no-repeat;
}

.dark-mode .header-logo-link,
.dark-mode .menu-link,
.dark-mode .title,
.dark-mode .sub-tagline,
.dark-mode .search-text,
.dark-mode .cocktail-card-name,
.dark-mode .cocktail-card-description,
.dark-mode .cocktail-card-learn,
.dark-mode .favorite-ingradients-alert,
.dark-mode .favorite-ingradients-title,
.dark-mode .favorite-ingradients-list .description,
.dark-mode .favorite-ingradients-list .read-more-button,
.dark-mode .dropbtn-text {
  color: rgba(253, 253, 255, 1);
}

.dark-mode .star,
.dark-mode .search-icon {
  fill: rgba(253, 253, 255, 1);
}

.dark-mode .search-input {
  background: transparent;
  color: rgba(253, 253, 255, 1);
}

.dark-mode .search-input::placeholder {
  color: rgba(253, 253, 255, 0.2);
}

.dark-mode .cocktail-card,
.dark-mode .favorite-ingradients-list li {
  background-color: rgb(35, 35, 48, 1);
}

.dark-mode input[type='checkbox'] {
  border-color: rgba(126, 143, 221, 1);
}

@media screen and (min-width: 768px) {
  .dark-mode {
    background: url(../img/background/dark-theme/tablet-bg@2x.webp) 0px 0px /
        100% 100%,
      black 100% 100% / cover no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .dark-mode {
    background: url(../img/background/dark-theme/desktop-bg@2x.webp) 0px 0px /
        100% 100%,
      black 100% 100% / cover no-repeat;
  }
}
.dark-mode .favorite-ingradients-list .alcohol {
  color: rgba(253, 253, 255, 0.5);
}
