.dark-mode {
  background: url(../img/background/dark-theme/mobile-bg@2x.webp) 0px 0px / 100%
      100%,
    black 100% 100% / cover no-repeat;
}

.dark-mode .header-logo-link,
.dark-mode .menu-link,
.dark-mode .title,
.dark-mode .sub-tagline,
.dark-mode .search-text,
.dark-mode .cocktail-card-name,
.dark-mode .cocktail-card-description,
.dark-mode .cocktail-card-learn,
.dark-mode .favorite-ingradients-alert,
.dark-mode .favorite-ingradients-title,
.dark-mode .favorite-ingradients-list .description,
.dark-mode .favorite-ingradients-list .read-more-button,
.dark-mode .dropbtn-text,
.dark-mode .ingredient-modal .back-button,
.dark-mode .ingredient-modal .ingred-header,
.dark-mode .cocktail-modal .cocktail-modal-name,
.dark-mode .cocktail-modal .cocktail-modal-ingredients,
.dark-mode .cocktail-modal .modal-cocktail-ingredient,
.dark-mode .cocktail-modal .modal-instructions-title,
.dark-mode .cocktail-modal .modal-cocktail-back,
.dark-mode .ingredient-modal .modal-ingredient-back {
  color: rgba(253, 253, 255, 1);
}
.dark-mode .cocktail-modal .modal-cocktail-ingredient:hover {
  color: #7e8fdd;
}
.dark-mode .ingredient-modal .item-text {
  color: rgba(253, 253, 255, 0.8);
}
.dark-mode .star,
.dark-mode .search-icon,
.dark-mode .mobile-menu-open-icon {
  fill: rgba(253, 253, 255, 1);
}

.dark-mode .mobile-menu-open-icon {
  stroke: rgba(253, 253, 255, 1);
}

.dark-mode .search-input {
  background: transparent;
  color: rgba(253, 253, 255, 1);
}

.dark-mode .search-input::placeholder {
  color: rgba(253, 253, 255, 0.2);
}
.dark-mode .ingredient-modal .back-button,
.dark-mode .cocktail-modal .modal-cocktail-back,
.dark-mode .ingredient-modal .modal-ingredient-back {
  background-color: rgba(253, 253, 255, 0.1);
}
.dark-mode .ingredient-modal .back-button:hover,
.dark-mode .ingredient-modal .back-button:focus,
.dark-mode .cocktail-modal .modal-cocktail-back:hover,
.dark-mode .cocktail-modal .modal-cocktail-back:focus,
.dark-mode .ingredient-modal .modal-ingredient-back:hover,
.dark-mode .ingredient-modal .modal-ingredient-back:focus {
  background-color: rgba(253, 253, 255, 0.2);
}
.dark-mode .cocktail-card,
.dark-mode .favorite-ingradients-list li {
  background-color: rgb(35, 35, 48, 1);
}

.dark-mode #darkModeToggle {
  border-color: rgba(126, 143, 221, 1);
}

.dark-mode .favorite-cocktails-title,
.dark-mode .favorite-cocktails-subtitle {
  color: #fdfdff;
}

.dark-mode .fav-cocktail-card,
.dark-mode .modal {
  background-color: #232330;
}

.dark-mode .fav-cocktail-titile,
.dark-mode .fav-cocktail-description {
  color: #fdfdff;
}

@media screen and (min-width: 768px) {
  .dark-mode {
    background: url(../img/background/dark-theme/tablet-bg@2x.webp) 0px 0px /
        100% 100%,
      black 100% 100% / cover no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .dark-mode {
    background: url(../img/background/dark-theme/desktop-bg@2x.webp) 0px 0px /
        100% 100%,
      black 100% 100% / cover no-repeat;
  }
}
.dark-mode .favorite-ingradients-list .alcohol,
.dark-mode .ingredient-modal .ingred-desc,
.dark-mode .ingredient-modal .ingred-type,
.dark-mode .cocktail-modal .modal-text,
.dark-mode .cocktail-modal .modal-instructions-text {
  color: rgba(253, 253, 255, 0.5);
}
