.header {
  padding: 20px, 0;
}
.flex-container {
  display: flex;
  align-items: baseline;
}
.nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  /* padding-left: 32px;
  padding-top: 12px; */
}

.header-logo-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -1%;
  color: #242424;
  position: relative;
}
.menu-logo-link {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -1%;
  color: #fdfdff;
  margin-bottom: 180px;
}
.menu-logo-icon {
  fill: #9cdfdf;
}
.logo-icon {
  fill: #7e8fdd;
}
.mobile-title {
  padding-top: 27px;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: center;
}
.mobile-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #fdfdff;
}
.mobail-menu-container {
  position: relative;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7e8fdd;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  top: 20px;
  right: 20px;
  border: none;
}
.mobile-menu-open {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-open-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  fill: black;
  top: 20px;
  right: 20px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
  width: 32px;
  height: 32px;
}

/* свич */
/* //перемикач ________________________________________________________________*/
/* .mobile-header {
  display: flex;

  justify-content: space-between;

  padding-top: 20px;
} */
.mobile-switch {
  position: absolute;
  top: 23.5px;
  right: 70px;
  width: 50px;
  height: 25px;
}

.mobile-imput[type='checkbox'] {
  position: relative;
  outline: none;
  appearance: none;
  width: 100%;
  height: 100%;
  border: #242424 1.5px solid;
  background: transparent;
  border-radius: 34px;
  transition: 0.5s;
}

.mobile-imput:checked[type='checkbox'] {
  background: transparent;
}

.mobile-imput[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  top: 1px;
  left: 1px;
  background: #9cdfdf;
  transition: 0.5s;
  transform: scale(1.1);
}

.mobile-imput:checked[type='checkbox']::before {
  left: 26px;
}

/* //////// */
@media screen and (max-width: 1199px) {
  /* .page-header .flex-container {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
  } */

  .menu-list {
    display: none;
    gap: 28px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
  .header-logo-link {
    font-size: 22px;
    line-height: 24px;
  }
  .nav {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    /* padding-left: 100px;
    padding-top: 14px; */
    gap: 302px;
  }

  .flex-container {
    align-items: center;
    justify-content: space-between;
  }

  .menu-link {
    display: block;
    /* padding-top: 14px; */
    cursor: pointer;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #747bff;
  }

  .menu-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2%;
    color: #242424;
    gap: 28px;
  }
  /* //перемикач */
  .mobile-header {
    display: flex;
  }
  .switch {
    width: 64px;
    height: 32px;
  }

  input[type='checkbox'] {
    position: relative;
    outline: none;
    appearance: none;
    width: 64px;
    height: 32px;
    border: #242424 2px solid;
    background: transparent;
    border-radius: 34px;
    transition: 0.5s;
  }

  input:checked[type='checkbox'] {
    background: transparent;
  }

  input[type='checkbox']::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    top: 0;
    left: 2px;
    background: #9cdfdf;
    transition: 0.5s;
    transform: scale(1.1);
  }

  input:checked[type='checkbox']::before {
    left: 32px;
  }
}
