.header {
  padding: 20px 0;
}
.flex-container {
  display: flex;
  align-items: baseline;
}
.nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 32px;
  padding-top: 12px;
}
.register-btn {
}
.header-logo-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -1%;
  color: #242424;
  position: relative;
}

/* .logo-icon {
  position: absolute;
  top: -1px;
  right: -25px;
} */

.mobile-menu-open {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* //////// */
@media screen and (max-width: 1199px) {
  .page-header .flex-container {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
  }

  .menu-list {
    display: none;
    gap: 28px;
  }
}

/*Mobile menu button*/
.mobile-menu-open {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-open-icon {
  width: 21px;
  height: 14px;
  fill: transparent;
  /* stroke: var(--dark-text); */
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-icon {
    width: 24px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
  .nav {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 100px;
    padding-top: 14px;
    gap: 302px;
  }

  .flex-container {
    align-items: center;
    justify-content: space-between;
  }

  .menu-link {
    display: block;
    padding-top: 14px;
    cursor: pointer;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #747bff;
  }

  .menu-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2%;
    color: #242424;
    gap: 28px;
  }
  .switch {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
  }
  input[type='checkbox'] {
    position: relative;
    width: 64px;
    height: 32px;
    -webkit-appearance: none;
    /* outline: #242424; */
    border: #242424 2px solid;
    background: transparent;
    border-radius: 34px;
    transition: 0.5s;
    top: 28px;
    left: 1116px;
  }
  input:checked[type='checkbox'] {
    background: transparent;
  }
  input[type='checkbox']::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    top: 2px;
    left: 2px;
    background: #9cdfdf;
    transition: 0.5s;
    transform: scale(1.1);
  }
  input:checked[type='checkbox']::before {
    left: 40px;
  }
}
