.header {
  padding: 20px 0;
  /* position: fixed;
  top: 0;
  left: 0;
  background: transparent; */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav {
  flex-direction: row;
  /* padding-left: 32px;
  padding-top: 12px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -1%;
  color: #242424;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 0;
}
.menu-logo-link {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -1%;
  color: #fdfdff;
  padding: 7px 0;
}
.menu-logo-icon {
  fill: #9cdfdf;
}
.logo-icon {
  fill: #7e8fdd;
  width: 29px;
  height: 25px;
}

.mobile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;
}
.mobile-list {
  text-align: center;
}
.mobile-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #fdfdff;
}

.mobile-item.contact {
  display: none;
}

.mobile-item.contact.show {
  display: block;
}

.container.mobail-menu-container {
  position: relative;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7e8fdd;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-controls {
  display: flex;
  align-items: center;
  gap: 18px;
}

.mobile-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  border: none;
}
.mobile-menu-open {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-open-icon {
  width: 32px;
  height: 32px;
  stroke: rgba(36, 36, 36, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

/* свич */
/* //перемикач ________________________________________________________________*/
.switch {
  display: none;
}
.mobile-switch {
  width: 53px;
  height: 28px;
}

.mobile-imput[type='checkbox'] {
  position: relative;
  outline: none;
  appearance: none;
  width: 100%;
  height: 100%;
  border: #fdfdff 1.5px solid;
  background: transparent;
  border-radius: 34px;
  transition: 0.5s;
}

.mobile-imput:checked[type='checkbox'] {
  background: transparent;
}

.mobile-imput[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 100px;
  top: 3px;
  left: 2px;
  background: #9cdfdf;
  transition: 0.5s;
  transform: scale(1.1);
}

.mobile-imput:checked[type='checkbox']::before {
  left: 27px;
}
/* //__________выпадающее меню моб_____________________________________________ */

.mob-dropdown {
  /* float: left;
  position: absolute;
  right: 37%; */
}

.mob-dropdown .mob-dropbtn {
  border: none;
  outline: none;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  /* width: 94px;
  height: 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 4px; */
}
.mob-dropbtn-text {
  padding: 3px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #fdfdff;
}

.mob-dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  width: 192px;
  height: 80px;
  z-index: 1;
  top: 32px;
  left: -45px;
}

.mob-dropdown-content a {
  float: none;
  color: #fdfdff80;

  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
}

.mob-dropdown-content a:hover {
  color: #fdfdff;
}

.show {
  display: block;
}
.mob-menu-icon-drop {
  width: 12px;
  height: 6px;
  border: 2px;
}
.mob-menu-icon-up {
  display: none;
  /* visibility: hidden; */
}
.mob-fav-link {
  padding-top: 18px;
}
.mob-fav-ingr {
  padding-top: 8px;
}
.modal-icon-img {
  display: none;
}

/* //////// */
@media screen and (max-width: 1279px) {
  .menu-list {
    display: none;
    gap: 28px;
  }
  .dropdown {
    display: none;
  }
}
/* // TABLET */
/*             //планшет модальное окно */
@media screen and (min-width: 768px) {
  .mobile-title {
    margin-bottom: 250px;
  }
  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-close-btn {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-open-icon {
    width: 40px;
    height: 40px;
    right: 32px;
  }
  .menu-logo-link {
    font-size: 22px;
    line-height: 24px;
  }

  .mobile-item {
    font-size: 24px;
    line-height: 32px;
  }
  .mob-dropdown .mob-dropbtn {
    gap: 10px;
  }
  .mob-dropbtn-text {
    font-size: 24px;
    line-height: 32px;
  }
  .mob-dropdown-content {
    left: -35px;
  }
  .modal-icon-img {
    display: flex;
    position: absolute;
    /* width: 391px;
    height: 391px;
    top: 350px;
    left: 391px; */
    width: 291px;
    height: 291px;
    top: 445px;
    left: 445px;
    opacity: 20%;
  }
  /*             //планшет фасад */
  .header-logo-link {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }

  .mobile-switch {
    width: 68px;
    height: 36px;
  }

  .mobile-imput[type='checkbox'] {
    border: #fdfdff 2px solid;
  }

  .mobile-imput[type='checkbox']::before {
    width: 28px;
    height: 28px;
    top: 3px;
    left: 3px;
  }

  .mobile-imput:checked[type='checkbox']::before {
    left: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 30px 0;
  }

  .mobile-menu-open {
    display: none;
  }
  .header-logo-link {
    font-size: 22px;
    line-height: 24px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 280px;
  }

  .flex-container {
    align-items: center;
    justify-content: space-between;
  }

  .menu-link {
    display: block;
    cursor: pointer;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #747bff;
  }

  .menu-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2%;
    color: #242424;
    gap: 28px;
  }
  /* //перемикач */
  .mobile-header {
    display: flex;
  }
  .switch {
    display: block;
    width: 68px;
    height: 36px;
  }

  input[type='checkbox'] {
    position: relative;
    outline: none;
    appearance: none;
    width: 68px;
    height: 36px;
    border: #242424 2px solid;
    background: transparent;
    border-radius: 34px;
    transition: 0.5s;
  }

  input:checked[type='checkbox'] {
    background: transparent;
  }

  input[type='checkbox']::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    top: 3px;
    left: 3px;
    background: #9cdfdf;
    transition: 0.5s;
    transform: scale(1.1);
  }

  input:checked[type='checkbox']::before {
    left: 34px;
  }

  /* //___выпадающее меню DESKTOP__________________________________________________ */

  .dropdown {
    /* float: left;
    /* overflow: hidden; 
    margin-right: 302px; */
    position: relative;
  }

  .dropdown .dropbtn {
    cursor: pointer;

    border: none;
    outline: none;

    background-color: inherit;

    margin: 0;
    width: 94px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .dropbtn-text {
    padding: 3px 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7e8fdd;
    width: 192px;
    height: 80px;
    border-radius: 16px;
    z-index: 9;
    top: 32px;
    left: -45px;
  }

  .dropdown-content a {
    float: none;
    color: #fdfdff80;

    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2%;
  }

  .dropdown-content a:hover {
    color: #fdfdff;
  }

  .show {
    display: block;
  }
  .menu-icon-drop {
    width: 12px;
    height: 6px;
  }
  .fav-link {
    padding: 18px 41px 0 24px;
  }
  .fav-ingr {
    padding: 8px 24px 18px 24px;
  }
}
